<table width='100%' cellpadding='0' cellspacing='0' border='0'>
    {foreach $content as $val}
    {if isset($val['content']) && $val['content']}
    <tr>
        <td valign='top' style='padding-bottom:20px;'>
            {$val['content']}
        </td>
    </tr>
    {/if}
	{/foreach}
</table>
<p style='line-height:10px'>&nbsp;</p>
<p style='line-height:12px;color:#808080;font-size:12px'>注：<br>上周同期往前推7天，上月同期往前推28天；<br>上升高于5%，红色标示，下降低于-5%，绿色标示；<br>所有付费相关数据均不包含短信续费。</p>
<p style='line-height:6px'>&nbsp;</p>
<p style='line-height:12px;color:#808080;font-size:12px'>数据定义：<br>1、新增用户数：首次登录游戏的米米号数；<br>2、Arppu：平均每付费用户收入；<br>3、付费率：付费用户占活跃用户的比例。</p>
