body {
	margin: 0px;
}

div {
	background-repeat: no-repeat;
}

.raw_image {
	width: 100%;
	height: 100%;
}

.preload {
	display: none;
}

#main_container {
	
}

.form_sketch {
	border-color: transparent;
	background-color: transparent;
}

.u0_normal {
	background-image: url('../新母版_1_files/u0_normal.png');
}

.u0_container {
	position: absolute;
	left: 5px;
	top: 3px;
	width: 1425px;
	height: 37px;
}

#u0_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1425px;
	height: 37px;
}

.u1 {
	position: absolute;
	left: 2px;
	top: 10px;
	width: 1421px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u2_normal {
	background-image: url('../新母版_1_files/u2_normal.png');
}

.u2_container {
	position: absolute;
	left: 5px;
	top: 50px;
	width: 157px;
	height: 40px;
}

#u2_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 157px;
	height: 40px;
}

.u3 {
	position: absolute;
	left: 2px;
	top: 12px;
	width: 153px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u4_normal {
	background-image: url('../新母版_1_files/u4_normal.png');
}

.u4_container {
	position: absolute;
	left: 5px;
	top: 100px;
	width: 157px;
	height: 30px;
}

#u4_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 163px;
	height: 36px;
}

.u5 {
	position: absolute;
	left: 2px;
	top: 7px;
	width: 153px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u6_normal {
	background-image: url('../新母版_1_files/u4_normal.png');
}

.u6_container {
	position: absolute;
	left: 5px;
	top: 134px;
	width: 157px;
	height: 30px;
}

#u6_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 163px;
	height: 36px;
}

.u7 {
	position: absolute;
	left: 2px;
	top: 7px;
	width: 153px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u8_normal {
	background-image: url('../新母版_1_files/u4_normal.png');
}

.u8_container {
	position: absolute;
	left: 5px;
	top: 169px;
	width: 157px;
	height: 30px;
}

#u8_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 163px;
	height: 36px;
}

.u9 {
	position: absolute;
	left: 2px;
	top: 7px;
	width: 153px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u11_normal {
	background-image: url('../多游戏_files/u11_normal.png');
}

.u11_container {
	position: absolute;
	left: 187px;
	top: 588px;
	width: 1213px;
	height: 352px;
}

#u11_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1213px;
	height: 352px;
}

.u12 {
	position: absolute;
	left: 2px;
	top: 168px;
	width: 1209px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u13_normal {
	background-image: url('../多游戏_files/u13_normal.png');
}

.u13_container {
	position: absolute;
	left: 190px;
	top: 550px;
	width: 100px;
	height: 28px;
}

#u13_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u14 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u15_normal {
	background-image: url('../多游戏_files/u15_normal.png');
}

.u15_container {
	position: absolute;
	left: 294px;
	top: 550px;
	width: 100px;
	height: 28px;
}

#u15_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u16 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u17_normal {
	background-image: url('../多游戏_files/u15_normal.png');
}

.u17_container {
	position: absolute;
	left: 398px;
	top: 550px;
	width: 100px;
	height: 28px;
}

#u17_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u18 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u19_normal {
	background-image: url('../多游戏_files/u15_normal.png');
}

.u19_container {
	position: absolute;
	left: 504px;
	top: 550px;
	width: 100px;
	height: 28px;
}

#u19_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u20 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u21_normal {
	background-image: url('../多游戏_files/u21_normal.png');
}

.u21_container {
	position: absolute;
	left: 1170px;
	top: 90px;
	width: 230px;
	height: 33px;
}

#u21_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 230px;
	height: 33px;
}

.u22 {
	position: absolute;
	left: 2px;
	top: 8px;
	width: 226px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u23_normal {
	background-image: url('../多游戏_files/u23_normal.png');
}

.u23_container {
	position: absolute;
	left: 200px;
	top: 108px;
	width: 130px;
	height: 30px;
}

#u23_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 136px;
	height: 36px;
}

.u24 {
	position: absolute;
	left: 2px;
	top: 7px;
	width: 126px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u25_normal {
	background-image: url('../多游戏_files/u25_normal.png');
}

.u25_container {
	position: absolute;
	left: 213px;
	top: 195px;
	width: 603px;
	height: 283px;
}

#u25_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 603px;
	height: 283px;
}

.u26 {
	position: absolute;
	left: 2px;
	top: 134px;
	width: 599px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u27_normal {
	background-image: url('../多游戏_files/u13_normal.png');
}

.u27_container {
	position: absolute;
	left: 213px;
	top: 148px;
	width: 100px;
	height: 28px;
}

#u27_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u28 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u29_normal {
	background-image: url('../多游戏_files/u15_normal.png');
}

.u29_container {
	position: absolute;
	left: 317px;
	top: 148px;
	width: 100px;
	height: 28px;
}

#u29_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u30 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u31_normal {
	background-image: url('../多游戏_files/u15_normal.png');
}

.u31_container {
	position: absolute;
	left: 421px;
	top: 148px;
	width: 100px;
	height: 28px;
}

#u31_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u32 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u33_normal {
	background-image: url('../多游戏_files/u15_normal.png');
}

.u33_container {
	position: absolute;
	left: 527px;
	top: 148px;
	width: 100px;
	height: 28px;
}

#u33_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 106px;
	height: 34px;
}

.u34 {
	position: absolute;
	left: 2px;
	top: 6px;
	width: 96px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u35_normal {
	background-image: url('../多游戏_files/u23_normal.png');
}

.u35_container {
	position: absolute;
	left: 190px;
	top: 510px;
	width: 130px;
	height: 30px;
}

#u35_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 136px;
	height: 36px;
}

.u36 {
	position: absolute;
	left: 2px;
	top: 7px;
	width: 126px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}